---
layout: default
---
<div id="home" class="page-content wc-container">
	<div class="posts">
  		{% for post in site.posts limit:10 %}
            {% unless post.categories contains 'portfolio' %}
  			<div class="post">
				<div style="width: 87%; float: left;">
    			<h3 class="post-title">
			      <a href="{{ post.url | prepend: site.url }}">
			        {{ post.title }}
			      </a>
    			</h3>

          <p class="post-meta">
            {% if (post.categories.size > 0 %}
            <span class="categories">
            {{ post.categories | array_to_sentence_string }}
            </span> |
            {% endif %}
            <span class="post-date">
            {{ post.date | date: "%A, %-d %B %Y" }} 
            </span>
          </p> 
          </div> 
          {% if (post.categories.size > 0 %}        
    	  <div style="width: 13%; float: right;">
			<img src="/assets/img/categories/{{ post.categories | array_to_sentence_string | downcase }}.png" style="background: transparent; padding: 8px; border: 1px solid #999999;" />
		  </div>
		  <div style="clear: both;"></div>
		  {% endif %}	    			
  				<p>
	  				{{ post.excerpt }}	
  				</p>
  				<p>
  					<a href="{{ post.url | prepend: site.url }}" title="{{ post.title}}">
  						Read More
					</a>
  				</p>
  			</div>
            {% endunless %}
  		{% endfor %}
	</div>
	<div class="post-footer">
		<div class="column-full"><a href="{{ '/blog' | prepend: site.url }}">Blog archive</a></div>
	</div>
</div>
